/* common-style-start */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    color: #3A3A3A;
}
button{
    background: #E02C6D;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
}
button a{
    text-decoration: none;
    color: white;
}
button i{
    margin-left: 5px;
}
/* common-style-ends */
/* header-style-start */
/* navbar-section-start */
.navbar{
    display: flex;
    justify-content: space-between;
    
}
.nav-title{
    font-size: 24px;
     margin-left: 70px; 
}
.nav{
     margin-top: 30px; 
     margin-right: 90px; 
}
.nav ul{
    display: flex;  
}
.nav li{
    list-style: none;
    font-size: 18px;
    margin-right: 20px;
}
.nav li a{
    text-decoration: none;
    color: #3A3A3A;
}
/* navbar-section-style-ends */
/* main-header-style-start */
.main-header{
    display: flex;

}
.half-width{
    width: 50%;
}
.head-container{
    margin-left: 60px;
}
.head-container h1{
    font-size: 52px;
}
.head-img{
    margin-left: 80px;
    width: 440px;
    height: 414px;
    border: 2px solid rgb(230, 226, 226);
    border-radius: 100%;
    padding: 15px;
    transition: transform 5s;
}
.head-img:hover{
    transform: rotate(360deg);
    
}
/* main-header-style-ends */
/* main-start-here */
.popular-title{
    font-size: 29px;
    text-align: center;
    padding-bottom: 15px;
}
.popular-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 85px;
}
.item{
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px gray;
    border-radius: 5px;
    line-height: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.item-img img{
    width: 300px;
    height: 256px;
}
h3{
    font-size: 26px;
}
h4{
    font-size: 21px;
}
p i{
    color: #FB8200;
}
/* main-ends-here */
/* contact-style */
.contact{
    display: flex;
    margin-top:30px;
    padding-top: 30px;
}
.contact-img img{
    margin-left: 80px;
    width: 450px;
    height: 280px;
}
input{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 380px;
    height: 25px;
    padding:10px 5px;

}
textarea{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}
/* footer */
footer{
    background-color:  #0A0826;
    color: #FFFFFF;
    text-align: center;
    line-height: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
h5{
    font-size:24px;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer li{
    list-style: none;
}
footer li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin-right: 8px;
}