body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    color: #3A3A3A;
}
button{
    background: #E02C6D;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
}
button a{
    text-decoration: none;
    color: white;
}
button i{
    margin-left: 5px;
}
/* navbar-section-start */
.navbar{
    display: flex;
    justify-content: space-between;
    
}
.nav-title{
    font-size: 24px;
     margin-left: 70px; 
}
.nav{
     margin-top: 30px; 
     margin-right: 90px; 
}
.nav ul{
    display: flex;  
}
.nav li{
    list-style: none;
    font-size: 18px;
    margin-right: 20px;
}
.nav li a{
    text-decoration: none;
    color: #3A3A3A;
}
/* navbar-section-style-ends */
/* main-header-style-start */
.main-header{
    display: flex;

}
.half-width{
    width: 50%;
}
.head-container{
    margin-left: 60px;
}
.head-container h1{
    font-size: 52px;
}
.head-img{
    margin-left: 80px;
    width: 440px;
    height: 414px;
    border: 2px solid rgb(230, 226, 226);
    border-radius: 100%;
    padding: 15px;
    transition: transform 5s;
}
.head-img:hover{
    transform: rotate(360deg);
    
}
/* main-header-style-ends */
